# Ignore cache directories and files
**/*cache*
__pycache__/
*.pyc

# Ignore compiled Python files
*.py[cod]
.env

*.wav
*.png
*.csv
*.log
*.json
*.jsonl
*.pptx
*.pdf
*.gif
*.wav
.vscode
.venv/**

/agentic/sandbox/**
**/env/**
**.bin
**.sqlite3