# Ignore cache directories and files
**/*cache*
__pycache__/
*.pyc

# Ignore compiled Python files
*.py[cod]
.env

*.wav
*.csv
*.log
*.json
*.jsonl
*.pptx
*.pdf
*.gif
*.wav
*.mp3
*.pth
*.stfolder
*.deprecated

.vscode
.venv/**
.cliagent

**/env/**
**.bin
**.sqlite3
**test_
**test**
podcast_generations

run_screen_grabber.sh
CLAUDE.md
GEMINI.md