python-dotenv
termcolor
Jinja2
ollama
psutil
requests
pillow
groq
prompt-toolkit
bs4
duckduckgo_search
openai
pyperclip
anthropic
tiktoken
googlesearch-python
types-requests
SpeechRecognition
pyaudio
gtts
pygame
pynput
pyfiglet
matplotlib
pydub
python-pptx
PyPDF2
chromadb
pdfminer.six
brave-search==0.1.8
llama-index
GitPython
whisper
pyttsx3
openai-whisper
yt-dlp
sentence_transformers